USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 02/01/2015 04:21:35 PM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'E:\Shawon\02-Jan-2014\StudentDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'E:\Shawon\02-Jan-2014\StudentDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[department]    Script Date: 02/01/2015 04:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[department](
	[dept_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 02/01/2015 04:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[std_id] [int] IDENTITY(1,1) NOT NULL,
	[std_reg_no] [varchar](50) NULL,
	[std_name] [varchar](50) NULL,
	[std_email] [varchar](50) NULL,
	[dept_id] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[std_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([dept_id], [dept_name]) VALUES (1, N'CSE')
INSERT [dbo].[department] ([dept_id], [dept_name]) VALUES (2, N'EEE')
INSERT [dbo].[department] ([dept_id], [dept_name]) VALUES (3, N'ITE')
SET IDENTITY_INSERT [dbo].[department] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([std_id], [std_reg_no], [std_name], [std_email], [dept_id]) VALUES (1, N'001', N'shawon', N's@mail.com', 1)
INSERT [dbo].[student] ([std_id], [std_reg_no], [std_name], [std_email], [dept_id]) VALUES (2, N'002', N'bristy', N'b@mail.com', 2)
INSERT [dbo].[student] ([std_id], [std_reg_no], [std_name], [std_email], [dept_id]) VALUES (3, N'003', N'masud', N'm@mail.com', 3)
SET IDENTITY_INSERT [dbo].[student] OFF
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([dept_id])
REFERENCES [dbo].[department] ([dept_id])
GO
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [FK_Student_Department]
GO
USE [master]
GO
